body {
    background: url('../images/mariobackground2.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Mario';
}


.jumbotron {
    box-sizing: border-box;
    border-radius: 30px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 150px;
    width: 850px;
    height: 700px;
    background-color: rgba(0, 204, 255, 0.808);
    box-shadow: 8px 8px rgba(63, 66, 216, 0.452);
}

.mainArea {
    padding-left: 90px;
}

.main-button-container {
    margin-top: 175px;
    max-width: 610px;
    margin-left: 50px;
}

.timer-p {
    margin-top: 40px;
}

.answer {
    padding-top: 7px;
    height: 45px;
    color: black;
    padding-left: 50px;
    margin-left: 50px;
    background-color: white;
    border-radius: 4px;
    text-shadow: 2px 2px rgb(163, 162, 162);
    box-shadow: 4px 4px rgba(73, 73, 73, 0.404);
}

.answer:hover {
    background-color: rgb(204, 204, 204);
    box-shadow: none;
}

.img-wrong {
    margin-top: 40px;
    width: 285px;
    margin-left: 50px;
}

.img-right {
    margin-top: 40px;
    -webkit-filter: drop-shadow(8px 8px 8px #222);
    filter: drop-shadow(8px 8px 8px #222);
}

#babyMario {
    width: 170px;
    margin-left: 110px;
}

#jumpman {
    width: 300px;
    margin-left: 50px;
}

#donkeyKong {
    width: 375px;
    margin-left: 15px;
}

#birdo {
    width: 200px;
    margin-left: 100px;
}

#peach {
    width: 190px;
    margin-left: 90px;
    margin-bottom: 200px;
}

#carpenter {
    width: 190px;
    margin-top: 50px;
    margin-left: 90px;
    margin-bottom: 20px;
}

#koopalings {
    width: 500px;
    margin-left: -50px;
}

#bowser {
    margin-left: 80px;
    margin-top: 40px;
}

.first-answer {
    margin-top: 40px;
  }

h1 {
    font-size: 46px;
    color: white;
    text-shadow: 4px 4px rgb(73, 73, 73);
}
  
.reset-button {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    text-shadow: 2px 2px black;
    box-shadow: 3px 3px rgba(63, 66, 216, 0.452);
  }

.reset-button:hover {
    background-color: blue;
    box-shadow: none;
}

.start-button:hover {
    background-color: blue;
    box-shadow: none;
}

.start-button {
    margin-top: 40px;
    margin-left: -30px;
    background-color: red;
    text-shadow: 2px 2px black;
    box-shadow: 3px 3px rgba(63, 66, 216, 0.452);
}

.summary-correct {
    margin-top: 40px;
}

.summary, .summary-correct{
    margin-left:85px;
    font-size: 18px;
    text-shadow: 2px 2px rgb(204, 204, 204);
}

.text-center {
    padding-left: 50px;
    font-size: 18px;
    text-shadow: 2px 2px rgb(204, 204, 204);
}

@font-face {
    font-family: 'Mario';
    src: url(SuperMario256.ttf) format('truetype');
}

